:root {
  --main-yellow : #ffc107;
  --main-green : #4caf50;
}

.App {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-green {
  background-color: var(--main-green) !important;

}

.bg-yellow {
  background-color: var(--main-yellow) !important;
}
  
.container-center{
  display: flex;
  order: 2;
  flex-direction: row;
  justify-content: center;
  color:grey;
}

.card{
  min-width: 50rem;
  width: 80vw;
}
